<div>
  <div class="card">
    <h2>UME Maria do Rosário Lopes Franco</h2>
    <p>Scratch</p>
    <p class="button bd">
      <a routerLink="/">Saiba mais</a>
    </p>
  </div>
  <div class="card">
    <h2>E. E. Marechal Humberto de Alencar Castello Branco</h2>
    <p>HTML</p>
    <p class="button">
      <a routerLink="/html">Saiba mais</a>
    </p>
  </div>
  <div class="card">
    <h2>Instituto Federal de Educação, Ciência e Tecnologia de São Paulo, Campus Cubatão</h2>
    <p>CAIE</p>
    <p class="button bd">
      <a routerLink="/html">Saiba mais</a>
    </p>
  </div>
</div>
