<div>
  <div class="card">
    <h2>Ana Beatriz Ribeiro Silva</h2>
    <p>Bolsista • Scratch/ABNT</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="https://www.instagram.com/anabia.ribs"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Kettlyn Gabrielly Lima Marcelino</h2>
    <p>Bolsista • Scratch/ABNT</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Bruna Carla França da Silva</h2>
    <p>Bolsista • Scratch/ABNT</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="https://instagram.com/brufranc4"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Victória Ferreira de Souza</h2>
    <p>Voluntária • Scratch/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Beatriz Adolfo da Silva</h2>
    <p>Voluntária • Scratch/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Valéria</h2>
    <p>Voluntária • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Rafaela</h2>
    <p>Voluntária • HTML</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Diego Ribeiro de Sousa</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Gabriela de Almeida Santos</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Guilherme Mendes de Sousa</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Lucas de Andrade Ramos</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Maria Júlia Cavalcanti Cerqueira Leite</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Miguel Mendes de Sousa</h2>
    <p>Powerpoint</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Raphael Muniz Varela</h2>
    <p>Bolsista • HTML/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="https://www.linkedin.com/in/raphael-muniz-7119911a2/"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
      </p>
      <p class="button insta">
        <a href="https://www.instagram.com/raphael_mun1z_/"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </p>
      <p class="button github">
        <a href="https://github.com/RaphaelMun1z?tab=repositories"
          ><i class="fa-brands fa-github"></i
        ></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Isabela de Souza Miranda</h2>
    <p>Bolsista • HTML/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>João Victor Alves de Souza e Silva</h2>
    <p>Bolsista • HTML/ABNT</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Nicolas Leal Almeida</h2>
    <p>Voluntário • HTML/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Jonatas Renan de Jesus Fernandes</h2>
    <p>Voluntário • HTML/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Juan Oliveira Lima</h2>
    <p>Voluntário • HTML/Excel</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
</div>
