<section>
  <div class="landing-base">
    <div class="title">
      <p>Meninas na TI</p>
      <p>projeto HTML.</p>
    </div>
    <div class="content">
      <div>
        <h2>Conheça o projeto<br />e desenvolva seu próprio site.</h2>
        <p>
          Nessa página você encontrará os projetos<br>desenvolvidos pelas as alunas, e também o<br>conteúdo das aulas
        </p>
        <div class="buttons">
          <p><a routerLink="/html/projetos">Visitar Sites</a></p>
          <p><a href="assets/Aula03.pdf">Baixar Aula 03</a></p>
        </div>
      </div>
      <div>
        <img src="assets/img/logohtml.png" alt="" />
      </div>
    </div>
  </div>
</section>
