<div>
  <div class="card">
    <h2>Scratch</h2>
    <p>Aulas de Scratch</p>
    <p class="button bd"><a routerLink="/">Saiba mais</a></p>
  </div>
  <div class="card">
    <h2>HTML</h2>
    <p>Aulas de HTML</p>
    <p class="button"><a routerLink="/html">Saiba mais</a></p>
  </div>
  <div class="card">
    <h2>CAIE - ABNT</h2>
    <p>Aprenda a formatar um trabalho acadêmico</p>
    <p class="button bd"><a routerLink="/caie-abnt">Saiba mais</a></p>
    <p class="button"><a href="assets/mat/m-abnt.pdf">Baixar material</a></p>
  </div>
  <div class="card">
    <h2>CAIE - Excel</h2>
    <p>Organize sua rotina usando o Excel</p>
    <p class="button bd"><a routerLink="/caie-excel">Saiba mais</a></p>
    <p class="button"><a href="assets/mat/m-excel.pdf">Baixar material</a></p>
  </div>
  <div class="card">
    <h2>CAIE - Powerpoint</h2>
    <p>Inovação e Criatividade: Como animar uma apresentação acadêmica utilizando Powerpoint</p>
    <p class="button bd"><a routerLink="/caie-excel">Saiba mais</a></p>
    <p class="button bd"><a href="assets/mat/m-powerpoint.pdf">Baixar material</a></p>
  </div>
  <div class="card">
    <h2>FECITEC</h2>
    <p>Feira de ciências e tecnologia</p>
    <p class="button bd"><a routerLink="/caie-excel">Saiba mais</a></p>
  </div>
</div>
