<section>
    <div class="cards">
        <div class="divider">
            <div class="resume">
                <h2>Sugestões para estudo</h2>
                <p>Aqui há alguns canais e artigos, os quais recomendamos para estudos mais aprofundados.</p>
            </div>
            <div class="cards-base">
                <div class="defaultCard">
                    <div class="img">
                        <img style="object-position: -271px;width: 100%;" src="https://yt3.ggpht.com/WO9pdoyGeRYhdijrMCAJO6TDTo0-8tKvBaZ2vGaJfSxCFS1gs79MYuv-BhuO_54OeylSFfEiKw=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt="">
                    </div>
                    <h3>Curso em Vídeo</h3>
                    <p>Canal no Youtube</p> 
                    <a style="width: 100%;" href="https://www.youtube.com/c/CursoemV%C3%ADdeo" target="_blank" type="button" class="btn btn-primary">Visitar canal</a>
                </div>
            </div> 
            <div class="end-cards">
                <p>Temos um canal no Youtube, não postamos as aulas lá, porém se quiser acompanhar:</p>
                <div>
                    <p><a target="_blank" href="https://www.youtube.com/channel/UC3LdhdB9TPqgiLk1Ms_1JAA">Nosso canal no Youtube</a></p>
                    <p><a target="_blank" href="https://www.instagram.com/meninasnati/">Nosso Instagram</a></p>
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="cards-base">
                <div class="defaultCard">
                    <div class="img">
                        <img style="object-position: -291px;width: 100%;" src="https://yt3.ggpht.com/Kqbnk4R_RZvE0_bMm92MZWe_Jhn5E61loJPbz-Qsg-WERGlOSUSEiDmzER08sNd89YzHHFKi=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt="">
                    </div>
                    <h3>DevMedia</h3>
                    <p>Canal no Youtube</p>
                    <a style="width: 100%;" href="https://www.youtube.com/c/DevmediaBrasil" target="_blank" type="button" class="btn btn-primary">Visitar canal</a> 
                </div>
            </div> 
            <div class="cards-base">
                <div class="defaultCard">
                    <div class="img">
                        <img style="object-position: -491px;width: 100%;" src="https://yt3.ggpht.com/YuhSfJhNZEwaDcag_f_3qPq7tSHV2M05heVMDtl75-rWTzBzUNY8X7AwTwJgJT1WWnzeFV0V=w1138-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt="">
                    </div>
                    <h3>CFBCursos</h3>
                    <p>Canal no Youtube</p> 
                    <a style="width: 100%;" href="https://www.youtube.com/c/cfbcursos" target="_blank" type="button" class="btn btn-primary">Visitar canal</a> 
                </div>
            </div> 
        </div>
    </div>
</section>